*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: crimson;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main{
    text-align: center;
}
.btn{
    padding: 10px 50px;
    margin: 40vh;
    background-color: crimson;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}